/* .box{
    background-color: aqua;
    height: 300px;
    width: 700px;
    margin: 0 auto; 

}
.colorbox{
    height: 40px;
    width: 40px;
    margin: 10px;
    cursor: pointer;
}
.sub-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
} */



/* stop watch */

/* h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.container .box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    margin-left: 10px;
    font-size: 40px;

}

.info_box{
     border: 1px solid black;
     margin-top: 20px;
     height: 50px;
     width: 150px;
     display: flex;
     justify-content: center;
     margin-left: 20px;
     text-align: center;
     align-items: center;
     
}
.msg{
    justify-content: center;
    text-align: center;
} */






/* Barqa Eid */

/* h1{
    justify-content: center;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box{
    background-color: black;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
}

.head{
    font-size: 20px;
} */



