h1{
    text-align: center;
    
 }
 
 .container{
     display: flex;
     justify-content: center;
     text-align: center;
     gap: 10px;
     max-width: 600px;
     margin: 0px auto;
    position: relative;
 }
 
 .box{
     display: flex;
     justify-content: center;
     align-items: center;
     border: 1px solid black;
     height: 100px;
     width: 100px;
     font-size: 50px;
     cursor: pointer;
     border-radius: 15px;
 }
 
 .box:hover{
     background-color:#53331F;
     color: white;
     opacity: 0.9;
     box-shadow: #D4B8B1 0px 0px 0px 3px;
 }
 
 .info_box{
     flex-grow: 1;
     justify-content: center;
     align-items: center;
     border: 1px solid black;
     margin-top: 20px;
     padding: 10px;
     border-radius: 15px;
 }
 .info_box:hover{
      background-color:#866C69;
      box-shadow: #D4B8B1 0px 0px 0px 3px;
      color: white;
      opacity: 0.9;
 }
 
 .msg{
     text-align: center;
     
 }
 .big{
     border: 1px solid black;
     max-width: 700px;
     height: 400px;
     margin: auto;
     align-items: center;
     justify-content: center;
     position: absolute;
     right: 0%;
     left: 0%;
     bottom:0%;
     top: 0%;
     border-radius: 20px;
     backdrop-filter: blur (10px);
     -webkit-backdrop-filter: blur(10px);
     background: linear-gradient(45deg,#D4B8B1, #866C69, #CD8C8C, #53331F);
     background-size: 300% 300%;
     animation: color 12s ease-in-out infinite;
 }
 @keyframes color{
     0%{
         background-position: 0 50%;
     }
     50%{
         background-position: 100% 50%;
     }
     100%{
         background-position: 0 50%;
     }
 }
 
 .big:hover{
     
     box-shadow:#D4B8B1 0px 22px 70px 4px;
    
 }
 