*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: url(https://cdn.pixabay.com/photo/2024/04/02/15/32/ai-generated-8671041_1280.jpg);   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 70%;
    justify-content: center;
    align-content: center;
}

.heading{
    color: #F7C566;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 6px;
    word-spacing: 6px;
    margin-bottom: 25px;
    background: linear-gradient( to right,  #AF8260, #330000, #F7C566,#AF8260,  #330000);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 4.5s linear infinite;
}
@keyframes animate-gradient{
    to{
        background-position: 200%;
    }
}

.description{
    color: #F7C566;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    font-family:'Times New Roman', Times, serif;
}

.timer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.sub_timer{
    width: 170px;
    background: rgba(255, 255, 255, 0.19);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    overflow: hidden;
    
}
.sub_timer:hover{
    color:  #D09683;        
    background: #AF8260;
    box-shadow: 0 0 10px  #AF8260, 0 0 40px #AF8260, 0 0 80px  #AF8260;
    transition-delay: 0.1s;
}

.digit{
    color: #fff;
    font-weight: lighter;
    font-size: 70px;
    text-align: center;
    padding: 2.5rem 0;
}
.digit:hover{
    color: #F7C566;
}

.digit_name{
    color: #F7C566;
    background: #330000;
    text-align: center;
    padding: 0.6rem 0;
    font-size: 20px;
}




